<ModificationInfo>
  <Version Major="1" Minor="5" Build="0" Revision="0" />
  <InternalName>House Size</InternalName>
  <InternalCategory>Extension</InternalCategory>
  <Author>VanDer</Author>
  <Website>
  </Website>
  <Documentation>
  </Documentation>
  <RDASupport>True</RDASupport>
  <AnnoVersions>
    <AnnoVersion>All</AnnoVersion>
  </AnnoVersions>
  <Images />
  <Labels>
    <Label Name="Name">
      <German>Exta Bewohner in Häusern Extrem</German>
      <English>Extra people in houses Extreme</English>
    </Label>
    <Label Name="Description">
      <German>Legen Sie fest, wie viele Personen im Haus Platz finden. Nach ihren Belieben.</German>
      <English>Decide how many people can be accommodated in the house — as you prefer.</English>
    </Label>
    <Label Name="Category">
      <German>Allgemein</German>
      <English>General</English>
    </Label>
  </Labels>
</ModificationInfo>