<ModificationInfo>
  <Version Major="1" Minor="0" Build="0" Revision="0" />
  <InternalName>Godenes Flaggschiff</InternalName>
  <InternalCategory>Schiffe</InternalCategory>
  <Author>C1yHAX &amp; VanDerx0x</Author>
  <Website>
  </Website>
  <Documentation>
  </Documentation>
  <RDASupport>True</RDASupport>
  <AnnoVersions>
    <AnnoVersion>All</AnnoVersion>
  </AnnoVersions>
  <Images>
    <Image>screenshot0021.jpg</Image>
  </Images>
  <Labels>
    <Label Name="Name">
      <German>Godenes Flaggschiff</German>
      <English>Golden Flagship</English>
    </Label>
    <Label Name="Description">
      <German>Das Goldene Achievement Flaggschiff. 
Hinweis: Es wird nur das Modell des normalen Flagschiffs ersetzt.
</German>
      <English>The Golden Achievement Flagship. 
Note: Only the normal flagship model will be replaced.</English>
    </Label>
    <Label Name="Category">
      <German>Schiffe</German>
      <English>Ships</English>
    </Label>
  </Labels>
</ModificationInfo>