<ModificationInfo>
  <Version Major="2" Minor="5" Build="0" Revision="0" />
  <InternalName>Schiffslimit</InternalName>
  <InternalCategory>Schiffe</InternalCategory>
  <Author>C1yHAX &amp; VanDerx0x</Author>
  <Website>
  </Website>
  <Documentation>
  </Documentation>
  <RDASupport>True</RDASupport>
  <AnnoVersions>
    <AnnoVersion>All</AnnoVersion>
  </AnnoVersions>
  <Images>
    <Image>preview.jpg</Image>
  </Images>
  <Labels>
    <Label Name="Name">
      <German>Schiffslimit</German>
      <English>Shiplimit</English>
    </Label>
    <Label Name="Description">
      <German>Legt die Anzahl der max. baubaren Schiffe zwischen 50 und 500 fest.</German>
      <English>Sets the maximum number of ships that can be built between 50 and 500.</English>
    </Label>
    <Label Name="Category">
      <German>Schiffe</German>
      <English>Ships</English>
    </Label>
  </Labels>
</ModificationInfo>