<ModificationInfo>
  <Version Major="2" Minor="0" Build="0" Revision="0" />
  <InternalName>Erweiterter Noria Kapazitäts Mod</InternalName>
  <InternalCategory>Cheats</InternalCategory>
  <Author>CryHAX</Author>
  <Website>
  </Website>
  <Documentation>
  </Documentation>
  <RDASupport>True</RDASupport>
  <AnnoVersions>
    <AnnoVersion>All</AnnoVersion>
  </AnnoVersions>
  <Images>
    <Image>preview.jpg</Image>
  </Images>
  <Labels>
    <Label Name="Name">
      <German>Noria Kapazitäts Mod</German>
      <English>Noria Capacity Mod</English>
    </Label>
    <Label Name="Description">
      <German>Erweitert die Kapazität der Kleinen Noria und der Großen Noria

Kleine Noria
- 3000
+ Upgrade bis
- 3000

Große Noria
- 9000
+ Upgrade bis
-3000

</German>
      <English>Expands the capacity of the Little Noria and Big Noria

Little Noria
- 3000
+ Upgrade to
- 3000

Great Noria
- 9000
+ Upgrade to
-3000</English>
    </Label>
    <Label Name="Category">
      <German>Cheats</German>
      <English>Cheats</English>
    </Label>
  </Labels>
</ModificationInfo>