<ModificationInfo>
  <Version Major="3" Minor="0" Build="0" Revision="0" />
  <InternalName>Flussgebäudemod</InternalName>
  <InternalCategory>Gebäude, Items</InternalCategory>
  <Author>VanDerx0x</Author>
  <Website>
  </Website>
  <Documentation>Documentation.rtf</Documentation>
  <RDASupport>True</RDASupport>
  <AnnoVersions>
    <AnnoVersion>All</AnnoVersion>
  </AnnoVersions>
  <Images>
    <Image>preview.jpg</Image>
    <Image>screenshot0000.jpg</Image>
    <Image>screenshot0002.jpg</Image>
  </Images>
  <Labels>
    <Label Name="Name">
      <German>Flussgebäudemod</German>
      <English>Riverbuildings</English>
    </Label>
    <Label Name="Description">
      <German>Fügt dem Spiel drei Gebäude hinzu:

- Gerberhütte
- Papierwindmühle
- Zuckerwindmühle
- Kürschnerei</German>
      <English>Adds three buildings to the game:

- Tanneryhut
- Paperwindmill
- Sugarwindmill
- Furrier's workshop</English>
    </Label>
    <Label Name="Category">
      <German>Gebäude, Items</German>
      <English>Buildings, Items</English>
    </Label>
  </Labels>
</ModificationInfo>